# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Environment variables
.env
/server/.env
/client/.env

# Lock files (often not ignored, but can be)
# package-lock.json
# /server/package-lock.json
# /client/package-lock.json

# Build output
/client/dist